{% schema %}
{
  "name": "Comparaison produit",
  "presets": [
    {
      "name": "Comparaison produit"
    }
  ],
  "tag": "section",
  "class": "shopify-section",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sous-titre",
      "default": "us vs. them"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Titre principal",
      "default": "Coffee upgrade like no other"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description courte",
      "default": "Rainbow Dust - coffee"
    },
    {
      "type": "image_picker",
      "id": "image_us",
      "label": "Image produit Rainbow Dust"
    },
    {
      "type": "image_picker",
      "id": "badge_image",
      "label": "Badge de satisfaction (optionnel)"
    },
    {
      "type": "image_picker",
      "id": "image_them",
      "label": "Image produit concurrent"
    },
    {
      "type": "textarea",
      "id": "comparisons",
      "label": "Avantages comparatifs (un par ligne, syntaxe : nous | eux)",
      "default": "zero crash or jitters | can give major crashes or jitters\ndelicious coffee taste | bland coffee taste\nimproved immunity support | zero immunity support\nall-in-one super blend | just coffee, nothing else"
    },
    {
      "type": "text",
      "id": "description_below",
      "label": "Texte en dessous du tableau",
      "default": "Rainbow Dust v1.0 can be mixed with just about anything to enjoy it however you like..."
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Lien du bouton",
      "default": "/pages/science"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Texte du bouton",
      "default": "TRY RAINBOW DUST RISK-FREE"
    },
    {
      "type": "text",
      "id": "below_button_text",
      "label": "Texte sous le bouton",
      "default": "We offer a risk free money back guarantee with each order"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Couleur de fond de la section",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Couleur principale du texte",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "gradient_start",
      "label": "Dégradé - couleur de départ",
      "default": "#724CE9"
    },
    {
      "type": "color",
      "id": "gradient_end",
      "label": "Dégradé - couleur de fin",
      "default": "#FF2277"
    },
    {
      "type": "range",
      "id": "heading_size_desktop",
      "label": "Taille du titre (desktop)",
      "min": 20,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 42
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "label": "Taille du titre (mobile)",
      "min": 14,
      "max": 40,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "checkbox",
      "id": "heading_bold",
      "label": "Titre en gras ?",
      "default": false
    },
    {
      "type": "range",
      "id": "description_size_desktop",
      "label": "Taille de la description (desktop)",
      "min": 14,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 21
    },
    {
      "type": "range",
      "id": "description_size_mobile",
      "label": "Taille de la description (mobile)",
      "min": 10,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "description_bold",
      "label": "Description en gras ?",
      "default": false
    },
    {
      "type": "range",
      "id": "text_below_size",
      "label": "Taille du texte sous le bouton",
      "min": 10,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "text_below_bold",
      "label": "Texte sous le bouton en gras ?",
      "default": false
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Couleur du bouton",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Couleur du texte du bouton",
      "default": "#FFFFFF"
    }
  ]
}
{% endschema %}



<div id="alternative_QxKn">
  <div class="section_holder" data-flavor="Coffee">
    <div class="subheading">{{ section.settings.subheading }}</div>
    <div class="heading">{{ section.settings.heading }}</div>
    <div class="desc">{{ section.settings.description }}</div>
    <div class="compare_box">
      <div class="img_vs_holder">
        <div class="vs_img">
          {% if section.settings.image_us != blank %}
            <img src="{{ section.settings.image_us | img_url: '480x' }}" alt="us">
          {% endif %}
          {% if section.settings.badge_image != blank %}
            <img class="satis_badge" src="{{ section.settings.badge_image | img_url: 'medium' }}" alt="satisfaction">
          {% endif %}
        </div>
        <div class="img_vs">VS.</div>
        <div class="vs_img">
          {% if section.settings.image_them != blank %}
            <img src="{{ section.settings.image_them | img_url: '480x' }}" alt="them">
          {% endif %}
        </div>
      </div>
      <div class="vs_desc_holder">
        {% assign rows = section.settings.comparisons | newline_to_br | split: '<br />' %}
        {% for row in rows %}
          {% assign parts = row | split: '|' %}
          <div class="s_vs_desc">
            <div class="us_desc">
              <div>{{ parts[0] | strip }}</div>
            </div>
            <div class="them_desc">
              <div>{{ parts[1] | strip }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="descs_below_table">{{ section.settings.description_below }}</div>
      <a class="try_btn" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
      <div class="desc_below_btn">{{ section.settings.below_button_text }}</div>
    </div>
  </div>
</div>


 <style>
        #alternative_QxKn {
            position: relative;
            background-color: #e7f0fd;
        }

        #alternative_QxKn .section_holder {
            position: relative;
            margin: auto;
            max-width: 680px;
            padding: 80px 40px;
        }

        #alternative_QxKn .subheading {
            width: fit-content;
            height: 35px;
            padding: 0 12.2px;
            background: black;
            font: normal normal 500 18px/22px Apercu Pro;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-transform: lowercase;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin: 0 auto 6px;
            font-weight:bold;
        }

        #alternative_QxKn .heading {
            font-family: 'TAN - MEMORIES';
            font-weight: 400;
            font-size: 42px;
            line-height: 1.1;
            text-align: center;
            margin-bottom: 12px;
        }

        #alternative_QxKn .desc {
            text-align: center;
            font: normal normal normal 21px/21px Apercu Pro;
            letter-spacing: 0px;
            color: #000000;
            margin-bottom: 60px;
        }

        #alternative_QxKn .img_vs_holder {
            display: flex;
            position: relative;
            justify-content: space-between;
            margin-bottom: 40px;
        }

        #alternative_QxKn .img_vs {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 65px;
            height: 65px;
            background: #000000;
            color: white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Apercu Pro;
            font-size: 25px;
            z-index: 1;
        }

        #alternative_QxKn .vs_img {
            width: calc(50% - 8px);
            display: flex;
            position: relative;
        }

        #alternative_QxKn .vs_img:last-of-type {
            border: 2px solid #F1F9FC;
            border-radius: 12px;
        }

        #alternative_QxKn .s_vs_desc {
            display: flex;
            border-radius: 10px;
            overflow: hidden;
            height: 65px;
            margin-bottom: 13px;
        }

        #alternative_QxKn .s_vs_desc>div {
            width: 50%;
            display: flex;
            align-items: center;
        }

        #alternative_QxKn .us_desc {
            background: transparent linear-gradient(106deg, #277bed 0%, #000000 100%) 0% 0% no-repeat padding-box;
            justify-content: flex-end;
            padding-right: 56px;
            padding-left: 10px;
            font: normal normal normal 21px/21px Apercu Pro;
            text-align: right;
        }

        #alternative_QxKn .them_desc {
            background: #F5F5F5;
            font: normal normal normal 19px/21px Apercu Pro;
        }

        #alternative_QxKn .us_desc>div {
            position: relative;
            color: white;
            font-size :15.5px;
            font-weight:bold;
        }


        @media screen and (max-width: 780px)
   {
        #alternative_QxKn .us_desc>div {
            position: relative;
            color: white;
            font-size :12.5px;
            font-weight:bold;
        }

             #alternative_QxKn .them_desc>div {
            position: relative;
            color: black;
            padding-left: 58px;
            padding-right: 24px;
            font-weight : bold;
            font-size :12.5px;
              
        }
   }
   
        #alternative_QxKn .them_desc>div {
            position: relative;
            color: black;
            padding-left: 58px;
            padding-right: 24px;
            font-weight : bold;
            /* font-size :15.5px; */
          
        }

        #alternative_QxKn .them_desc>div:after,
        #alternative_QxKn .us_desc>div:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            border-radius: 100px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px;
        }

        #alternative_QxKn .us_desc>div:after {
            right: -32px;
            background-image: url(//spacegoods.com/cdn/shop/t/346/assets/white_check.svg?v=168019155159854585241722621936);
        }

        #alternative_QxKn .them_desc>div:after {
            left: 24px;
            background-image: url(//spacegoods.com/cdn/shop/t/346/assets/black_close.svg?v=21011354507018251241722621935);
        }

        #alternative_QxKn .try_btn {
            width: 100%;
            max-width: 487px;
            height: 60px;
            border-radius: 8px;
            display: flex;
            font: normal normal 500 21px/26px Apercu Pro;
            letter-spacing: 1.05px;
            color: #FFFFFF;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: auto;
            background: #000000;
            text-decoration : none;
            font-weight : bold;
            background-color : #2e59ac;
        }

        #alternative_QxKn .try_btn:hover {
            background: #282828;
        }

        #alternative_QxKn .desc_below_btn {
            font: normal normal normal 16px/19px Apercu Pro;
            letter-spacing: 0px;
            color: #000000;
            margin-top: 13px;
            text-align: center;
        }

        #alternative_QxKn .descs_below_table {
            background: transparent linear-gradient(106deg, #277bed 0%, #000000 100%) 0% 0% no-repeat padding-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font: normal normal 500 21px/21px Apercu Pro;
            text-align: center;
            margin-bottom: 21px;
        }

        #alternative_QxKn .vs_desc_holder {
            margin-bottom: 33px;
        }

        #alternative_QxKn img.satis_badge {
            position: absolute;
            width: 146px;
            height: 139px;
            transform: translate(-50%, -39px);
        }

        @media screen and (max-width: 900px) {
            #alternative_QxKn .section_holder {
                padding: 45px 15px;
            }
            #alternative_QxKn .subheading {
                height: 24px;
                font: bold bold 500 12px/14px Apercu Pro;
                padding: 0 14px;
                margin-bottom: 8px;
            }
            #alternative_QxKn .heading {
                font: normal normal 400 18px/22px 'TAN - MEMORIES';
                padding: 0 10px;
                margin-bottom: 8px;
                font-weight : bold;
            }
            #alternative_QxKn .desc {
                font: normal normal normal 16px/21px Apercu Pro;
                margin-bottom: 21px;
            }
            #alternative_QxKn .img_vs_holder {
                padding: 0 25px;
                margin-bottom: 15px;
            }
            #alternative_QxKn .img_vs {
                width: 46px;
                height: 46px;
                font-size: 13px;
            }
            #alternative_QxKn .vs_img img {
                width: 150px;
                height: 150px;
            }
            #alternative_QxKn .vs_img {
                width: calc(50% - 6px);
            }
            #alternative_QxKn .us_desc,
            #alternative_QxKn .them_desc {
                font: normal normal normal 14px/16px Apercu Pro;
            }
            #alternative_QxKn .them_desc>div:after,
            #alternative_QxKn .us_desc>div:after {
                width: 18px;
                height: 18px;
                background-size: 18px;
            }
            #alternative_QxKn .us_desc>div:after {
                right: -28px;
            }
            #alternative_QxKn .us_desc {
                padding-right: 43px;
            }
            #alternative_QxKn .them_desc>div:after {
                left: 15px;
            }
            #alternative_QxKn .them_desc>div {
                padding-left: 45px;
                padding-right: 18px;
            }
            #alternative_QxKn .s_vs_desc {
                height: 70px;
                margin-bottom: 4px;
            }
            #alternative_QxKn .descs_below_table {
                font-size: 17px;
                padding: 0 15px;
                background: transparent linear-gradient(180deg, #2751a5 0%, #000000 100%) 0% 0% no-repeat padding-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 14px;
            }
            #alternative_QxKn .try_btn {
                font: normal normal 500 18px/22px Apercu Pro;
                letter-spacing: 0.9px;
                height: 52px;
            }
            #alternative_QxKn .desc_below_btn {
                font: normal normal normal 13px/15px Apercu Pro;
            }
            #alternative_QxKn .vs_desc_holder {
                margin-bottom: 21px;
                padding: 0 7px;
            }
            #alternative_QxKn img.satis_badge {
                width: 90px;
                height: 86px;
                transform: translate(-30px, -15px);
            }
        }
    </style>

    
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const btn = document.querySelector('#alternative_QxKn .try_btn');
    if (btn) {
      btn.addEventListener('click', function (e) {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    }
  });
</script>